@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: "Poppins", sans-serif;
}

.hover-underline-amber:hover {
  text-decoration-color: #fbbf24; /* Tailwind's amber-400 color */
}

/* Ensure the container doesn't cause overflow */
.container {
  max-width: 100%;
  overflow: visible; /* Changed to visible to avoid clipping */
}

/* Ensure the dropdown doesn't cause overflow */
#language-dropdown {
  max-width: 100%;
  overflow: visible; /* Ensure dropdown visibility */
}

/* Ensure the dropdown is positioned correctly */
.relative {
  position: relative;
}

/* Ensure the dropdown menu is visible */
#language-dropdown {
  z-index: 50;
  display: block;
}

/* Adjust global styles if needed */
body {
  overflow-x: hidden; /* Prevent horizontal scroll */
}

.bg-hero-image {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

